<h1>Listing pniyas</h1>

<table>
  <tr>
    <th>Mispar</th>
    <th>Bakasha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pniyas.each do |pniya| %>
  <tr>
    <td><%= pniya.mispar %></td>
    <td><%= pniya.bakasha_id %></td>
    <td><%= link_to 'Show', pniya %></td>
    <td><%= link_to 'Edit', edit_pniya_path(pniya) %></td>
    <td><%= link_to 'Destroy', pniya, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pniya', new_pniya_path %>
