<p id="notice"><%= notice %></p>

<p>
  <b>Mispar:</b>
  <%= @pniya.mispar %>
</p>

<p>
  <b>Bakasha:</b>
  <%= @pniya.bakasha_id %>
</p>


<%= link_to 'Edit', edit_pniya_path(@pniya) %> |
<%= link_to 'Back', pniyas_path %>
