<div class="index-wrap">
  <div class="index-right">
    <p class="welcome"><%=t :welcome %>!</p>
    <p><%=t :index_right_p1 %></p>
    <p class='no-idea bold'><%=t :index_right_p2 %></p>
    <p><%=t :index_right_p3 %></p>
  </div>
  <div class="index-left">
    <p class='solution bold'><%=t :index_left_p1 %></p>
    <p class='deed'><span><%=t :peilei %> </span><a href="http://www.hasadna.org.il/"><%=t :hasadna %></a><span> <%=t :index_left_p2 %></span></span></p>
    <p class='no-address'><%=t :index_left_p3 %></p>
    <p><%=t :index_left_p4 %></p>
    <p class='other-projects'></p>
  </div>
</div>

<div class="index-bottom">
  <p class='bold'><%=t :index_bottom_p1 %></p>
  <ol>
    <li><%=t :index_bottom_li1 %></li>
    <li><%=t :index_bottom_li2 %></li>
    <li><%=t :index_bottom_li3 %></li>
  </ol>
</div>
<div class="index-button-start"><a href="/start" class='index-button-start-a'><%=t :start_here %></a></div>