<% content_for :javascripts do %>
    <%= javascript_include_tag "vendor/jsuri-1.1.1.min.js" %>
    <%= javascript_include_tag "bakashaTable.js" %>
    <%= javascript_include_tag "edit.js" %>
<% end %>


<div class='form'>
  <div class='bakasha'>
    <h3><%= t :bakasha %></h3>
    <%= form_for(@bakasha) do |f| %>
        <%= f.hidden_field :finalized, :value => false %>
        <%= f.hidden_field :scan_id %>
        <div class='bakasha-details'>
          <div class='detail bakasha-date'>
            <label for='bakasha_recv_date'><%=t :nitkabel %>:</label>
            <%= f.text_field :recv_date, :class => 'bakasha-date' %>
            <div class='question-mark'>
              <div class='explanation'>
                <div class='explanation-img'></div>
                <div class='spinner'></div>
              </div>
            </div>
          </div>
          <div class='detail bakasha-meeting-reason'>
            <label for='bakasha_meeting_reason'><%=t :sibat %>:</label>
            <%= f.select :meeting_reason, [[t(:reason_taksiv), t(:reason_taksiv)], [t(:reason_seifim), t(:reason_seifim)], [t(:reason_shimush), t(:reason_shimush)], [t(:reason_reserve), t(:reason_reserve)], [t(:reason_heskem), t(:reason_heskem)]], :class => 'bakasha-meeting-reason' %>
            <div class='question-mark'>
              <div class='explanation'>
                <div class='explanation-img'></div>
                <div class='spinner'></div>
              </div>
            </div>
          </div>
          <div class='detail bakasha-description'>
            <label for='bakasha_description'><%=t :bakasha_description %></label>
            <%= f.text_area :description, :rows => 4 %>
            <div class='question-mark'>
              <div class='explanation'>
                <div class='explanation-img'></div>
                <div class='spinner'></div>
              </div>
            </div>
          </div>
          <div class='detail bakasha-reserve-usage'>
            <%= f.check_box :reserve_usage %>
            <span><%=t :bakasha_is_using_reserve %></span>
          </div>
        </div>
        <%= f.submit :class => 'submit', :value => t(:update_bakasha) %>

        <div class='pniyot'>
        </div>
    <% end %>
    <%= link_to_function '+', 'KsafimApi.createPniya();', :class => 'add-pniya', :title => t(:hosef), :id => 'add-pniya' %>
  </div>
  <% unless @file.nil? %>
      <iframe class="file_frame" src="<%= @file %>"></iframe>
  <% end %>
</div>

<script>
  window.bakasha_json = <%= @bakasha_json.html_safe %>;
</script>

<div id="dialog-confirm" title="<%=t :did_you_finish %>">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <%=t :you_can_finish_later %>
  </p>
</div>

<div id="dialog-invalid" title="<%=t :bakasha_is_invalid %>">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <%=t :your_bakasha_is_invalid %>
  </p>
</div>

<%= render 'bakashas/form_templates' %>