<% content_for :javascripts do %>
    <%= javascript_include_tag "show.js" %>
<% end %>

<% if notice %>
    <p class="notice"><%=t :received_bakasha %></p>
<% end %>

<div class="show-actions">
    <%= link_to t(:back), bakashas_path %> |
    <% if @bakasha.finalized %>
        <%=t :this_bakasha_is_finalized %>
        <% if current_user and (current_user.id == @bakasha.user_id) %>
            (<a href="#" class="mark-unfinalized"><%=t :mark_unfinalized %></a>)
        <% end %>
    <% else %>
        <%=t :this_bakasha_is_unfinalized %>
        <% if current_user and (current_user.id == @bakasha.user_id) %>
            (<%= link_to t(:finish_editing), edit_bakasha_path %>)
        <% end %>
    <% end %>
</div>
<input class="bakasha-id" type="hidden" value="<%= @bakasha.id %>"/>
<div class='bakasha <%= @bakasha.finalized ? "" : "unfinalized" %>'>
    <h3><%= t :bakasha %></h3>
    <div class='bakasha-details'>
      <div class='detail bakasha-date'>
        <label><%=t :nitkabel %>:</label>
        <%= @bakasha.recv_date %>
      </div>
      <div class='detail bakasha-meeting-reason'>
        <label><%=t :sibat %>:</label>
        <%= @bakasha.meeting_reason %>
      </div>
      <div class='detail bakasha-description'>
        <label><%=t :bakasha_description %></label>
        <%= @bakasha.description %>
      </div>
    </div>
    <div class='pniyot'>
      <% @bakasha.pniyas.each do |pniya| %>
          <div class='pniya show' id='pniya-<%= pniya.mispar %>'>
            <h4><%=t :pniya %></h4>

            <div class='detail mispar-pniya'>
              <label><%=t :mispar_pniya %>:</label>
              <%= pniya.mispar %>
            </div>

            <table cellspacing=0 class='pniya-table' width="100%" id="pniya-table-<%= pniya.mispar %>">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th colspan=4><%=t :changes_amounts %>
              </tr>
              <tr>
                <th><%=t :mispar_prat %></th>
                <th><%=t :name_prat %></th>
                <th>&nbsp;</th>
                <th><%=t :hotsaa %></th>
                <th><%=t :hotsaa_mut %></th>
                <th><%=t :harshaa %></th>
                <th><%=t :ska %></th>
                <th><%=t :hotsaa %></th>
                <th><%=t :hotsaa_mut %></th>
                <th><%=t :harshaa %></th>
                <th><%=t :ska_abbr %></th>
              </tr>
              </thead>
              <tbody>
              <% pniya.haavaras.each do |haavara| %>
                  <tr class="pniya-row">
                    <td><div><%= haavara.prat %></div></td>
                    <td class="prat-name"><div><%= haavara.prat_name %></div></td>
                    <td><div><span>מ-</span><br><span>ל-</span></div></td>
                    <td><div class="money"><%= haavara.hotsaa_from %>&nbsp;</div><div class="money"><%= haavara.hotsaa_to %>&nbsp;</div></td>
                    <td><div class="money"><%= haavara.hotsaa_mut_from %>&nbsp;</div><div class="money"><%= haavara.hotsaa_mut_to %>&nbsp;</div></td>
                    <td><div class="money"><%= haavara.harshaa_from %>&nbsp;</div><div class="money"><%= haavara.harshaa_to %>&nbsp;</div></td>
                    <td><div class="money"><%= haavara.ska_from %>&nbsp;</div><div class="money"><%= haavara.ska_to %>&nbsp;</div></td>
                    <td><div class="diff money"><%= haavara.diff_hotsaa %>&nbsp;</div></td>
                    <td><div class="diff money"><%= haavara.diff_hotsaa_mut %>&nbsp;</div></td>
                    <td><div class="diff money"><%= haavara.diff_harshaa %>&nbsp;</div></td>
                    <td><div class="diff money"><%= haavara.diff_ska %>&nbsp;</div></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
</div>
